# === Dataset & Outputs ===
sns_topic_analysis/AIhub/
human_activity_recognition/data/
human_activity_recognition/outputs/

# === Python virtual environments ===
.venv/
.venv311/

# === Python cache & temp ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.pkl

# === OS / IDE specific ===
.DS_Store
Thumbs.db
.vscode/
.idea/

human_activity_recognition/config/db.php
chat_app/db.php